/*##############################*/
          /* IMPORTS */
/*##############################*/


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');



/*##############################*/
         /* VARIABLES */
/*##############################*/


:root {

  /* Font-family */
  --main-font-family: 'Outfit', sans-serif;
  --header-font-family: 'Big Shoulders Display', cursive;


  /* Colors */
  --gold: #D5966C;
  --almost-black: #151515;
  --dark-grey: #444;
  --white: #fff;

}


/*##############################*/
       /* MOBILE FIRST */
          /* STYLES */
/*##############################*/


/* GLOBAL STYLES */

/* HTML */
html {
  font-size: 18px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Headers */
h1, h2, h3, h4 {
  font-family: var(--header-font-family);
  font-weight: 900;
  text-transform: uppercase;
}


/* Images */
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Buttons */
.btn {
  height: 4rem;
  /* width: 14.444444rem; */
  display: flex;
}


.btn-copy-container {
  background-color: var(--almost-black);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}


.btn-copy {
  font-size: 1.111111rem;
  font-weight: 800;
  line-height: 1.333333rem;
  letter-spacing: 0.20202rem;
  color: var(--white);
}


.arrow-icon {
  height: 4rem;
  width: 3.111111rem;
  background-color: var(--gold);
  background-repeat: no-repeat;
  background-position: center;
}

/* STYLES */


/* Body - main-content-container */
.main-content-container {
  background-color: #FCFAF9;
  font-family: var(--main-font-family);
  font-weight: 300;
}


/* HEADER */


/* Desktop Hero Background - display: none on mobile and tablet */
.desktop-hero-background {
  display: none;
}


/* Hero Image */
.hero-img {
  height: 13.333333rem;
  background-image: url(../assets/mobile/image-hero.jpg);
}


/* Header Copy Container */
.main-header-copy-container {
  margin: 0 0.888889rem 6.666667rem 0.888889rem;
}


/* Main Heading */
.main-heading {
  margin-top: 1.777778rem;
  margin-bottom: 1.777778rem;
  font-size: 3.333333rem;
  line-height: 3.055556rem;
  color: var(--almost-black);
}


/* Main Header Copy */
.main-header-copy {
  line-height: 1.555556rem;
  color: var(--dark-grey);
}


/* OUR LOCATION BUTTON */

/* Location Btn Container */
.our-location-btn-container {
  margin-top: 1.777778rem;
}

/* Location Btn Copy Container */
.our-location-btn-copy-container {
  width: 11.333333rem;
}


/* Location Btn Copy */
/* .our-location-btn-copy {
  
} */


/* Arrow Icon Right */
.arrow-icon-right {
  background-image: url(../assets/icon-arrow-right.svg);
}


/* MAIN CONTENT */


/* Main Content Container */
.main-content-container {
  margin: 0 0.888889rem 6.666667rem 0.888889rem; 
}


/* CONTENT HEADER */


/* Main Content Header Image */
.content-header-img {
  height: 17.777778rem;
  background-image: url(../assets/mobile/image-grid-1.jpg);
}


/* Content Header Copy Container */
.content-header-copy-container {
  margin-top: 1.388889rem;
  margin-bottom: 1.777778rem;
}


/* Content Header h1 */
.content-header-main-header {
  margin-bottom: 1.166667rem;
  font-size: 2.777778rem;
  line-height: 2.5rem;
  color: var(--almost-black);
}


/* Content Header p */
.content-header-copy {
  line-height: 1.555556rem;
  color: var(--dark-grey);
}


/* GALLERY INFO CONTAINER */


/* Bench Image */
.bench-img {
  margin-bottom: 0.888889rem;
  height: 26.666667rem;
  background-image: url(../assets/mobile/image-grid-2.jpg);
}


/* Visitors Image */
.visitors-img {
  margin-bottom: 0.888889rem;
  height: 11.111111rem;
  background-image: url(../assets/mobile/image-grid-3.jpg);
}


/* GALLERY INFO COPY CONTAINER */


/* Gallery Info Copy Container */
.gallery-info-copy-container {
  padding: 2.666667rem 1.333333rem 2.611111rem 1.333333rem;
  background-color: var(--almost-black);
  color: var(--white);
}


/* Gallery Info Header */
.gallery-info-main-header {
  margin-bottom: 1.333333rem;
  font-size: 2.777778rem;
  line-height: 2.5rem;  
}


/* Gallery Info p */
.gallery-info-copy {
  line-height: 1.555556rem;
}


/* FOOTER */


/* Shared Footer Styles */
.footer {
  padding: 2.666667rem 1.777778rem;
  height: 18.666667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Main Footer */
.main-footer {
  background-color: var(--almost-black);
  color: var(--white);
}


/* Footer Header Container */
.footer-header-container {
  height: 2.222222rem; 
  width: 6.113889rem;
}


/* Footer Header */
.footer-header {
  font-size: 1.222222rem;
}


/* Footer Copy Container */
.footer-copy-container {
  height: 5.777778rem;
  display: flex;
  align-items: center;
}


/* Footer p */
.footer-copy {
  font-size: 0.888889rem;
  line-height: 1.444444rem;
}


/* Social Icons Container */
.social-icons-container {
  height: 1.111111rem;
  width: 5.555556rem;
  display: flex;
  justify-content: space-between;
}


/* Social Icon Shared Styles */
.social-icon {
  height: 1.111111rem;
  width: 1.111111rem;
  background-repeat: no-repeat;
  background-position: center;
}


/* FB Icon */
.fb-icon {
  background-image: url(../assets/icon-facebook.svg);
}


/* Insta Icon */
.insta-icon {
  background-image: url(../assets/icon-instagram.svg);
}


/* Twitter Icon */
.twitter-icon {
  background-image: url(../assets/icon-twitter.svg);
}



/*##############################*/
    /* LOCATION PAGE STYLES */
/*##############################*/


/* Map Container */
.map-container {
  height: 30.555556rem;
  background-image: url(../assets/mobile/image-map.png);
}


/* Back To Home Btn */
.back-to-home-btn-copy-container {
  width: 11.555556rem;
}


/* BTH Btn Icon */
.arrow-icon-left {
  background-image: url(../assets/icon-arrow-left.svg);
}


/* GALLERY LOCATION INFO CONTAINER */


/* Gallery Location Info Container */
.gallery-location-info-container {
  background-color: var(--almost-black);
  padding-left: 0.888889rem;
  padding-right: 0.888889rem;
  height: 27.388889rem;
}


/* Gallery Location h1 */
.gallery-location-header {
  padding-top: 2.666667rem;
  padding-bottom: 2.666667rem;
  font-size: 2.777778rem; 
  line-height: 2.5rem;
  color: var(--white);
}


/* Gallery Address Container*/
.gallery-address-container {
  height: 16.444444rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Gallery Street Address */
.gallery-street-location {
  font-size: 1.777778rem;
  line-height: 1.777778rem;
  color: var(--gold);
}

/* Gallery Street Address Container */
.gallery-street-address-container {
  height: 4.666667rem;
  display: flex;
  align-items: center;
}

/* Gallery Address */
.gallery-address {
  line-height: 1.555556rem;
}


/* Gallery Info Container */
.location-info-container {
  height: 7.777778rem;
  display: flex;
  align-items: center;
}


/* Gallery Location Info */
.gallery-location-info {
  line-height: 1.555556rem;
}


/* Gallery Location Footer */
.gallery-location-footer {
  background-color: var(--gold);
}


/* Location FB Icon */
.location-fb-icon {
  background-image: url(../assets/location-icon-facebook.svg);
}


/* Location Insta Icon */
.location-insta-icon {
  background-image: url(../assets/location-icon-instagram.svg);
}


/* Location Twitter Icon */
.location-twitter-icon {
  background-image: url(../assets/location-icon-twitter.svg);
}


/*##############################*/
       /* MEDIA QUERIES */
/*##############################*/


/* TABLET */
/* More than 420px */


@media only screen and (min-width: 420px) {


  /* Main Header */
  .main-header {
    height: 38.888889rem;
    margin-bottom: 6.666667rem;
    display: flex;
    align-items: center;
  }


  /* Hero Image */
  .hero-img {
    background-image: url(../assets/tablet/image-hero.jpg);
    height: 38.888889rem;
    width: 56%;
  }


  /* Main Header Copy Container */
  .main-header-copy-container {
    height: 22.777778rem;
    width: 18.833333rem;
    margin: 0;
    position: relative;
    right: 2.222222rem;
  }


  /* Main Heading */
  .main-heading {
    font-size: 3.888889rem;
    line-height: 3.611111rem;
    margin-top: 0;
    margin-bottom: 2.666667rem;
  }


  /* Our Location Buttons */
  .our-location-btn-container {
    margin-top: 2.666667rem;
  }


  /* Main Content Container */
  .main-content-container {
    margin-left: 2.222222rem;
    margin-right: 2.222222rem;
    display: grid;
    /* height:26.666667rem; */
  }


  /* MAIN CONTENT HEADER */


  /* Content Header */
  .content-header {
    margin-bottom: 0.611111rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }


  /* Content Header Image */
  .content-header-img {
    height: 22.222222rem;
    width: 57%;
    background-image: url(../assets/tablet/image-grid-1.jpg);
  }


  /* Content Header Copy Container */
  .content-header-copy-container {
    width: 43%;
    margin: 0;
  }


  /* Content Main Header Copy */
  .content-header-main-header {
    width: 12.388889rem;
    margin-bottom: 1.333333rem;
  }


  /* Content Header Copy */
  .content-header-copy {
    width: 12.388889rem;
  }


  /* GALLERY INFO */


  /* Gallery Info Container */
  .gallery-info-container {
    display: grid;
    grid-template-columns: 58% 41%;
    grid-template-rows: 17.388889rem 22.2rem;
    grid-gap: 1%;
  }


  /* Bench Image */
  .bench-img {
    grid-row-start: span 2;
    height: 40rem;
    background-image: url(../assets/tablet/image-grid-2.jpg);
  }


  /* Visitors Image */
  .visitors-img {
    height: 17.388889rem;
    margin: 0;
    background-image: url(../assets/tablet/image-grid-3.jpg);
  }


  /* Info Copy Container */
  .gallery-info-copy-container {
    height: 22.2rem;
    padding: 4.722222rem 1.583333rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  /* FOOTER */

  /* Footer */
  .footer {
    height: 12rem;
    padding: 3.111111rem 2.194444rem;
    flex-direction: row;
  }


  /* Footer Header Container */
  .footer-header-container {
    width: 6.113889rem;
  }


  /* Footer h1 */
  .footer-header {
    font-size: 1.3rem;
  }


  /* Footer Copy Container */
  .footer-copy-container {
    width: 15.611111rem;
  }


  /*##############################*/
      /* LOCATION PAGE STYLES */
  /*##############################*/


  /* Map Container */
  .map-container {
    height: 33.333333rem;
    background-image: url(../assets/tablet/image-map@2x.png);
  }


  /* Back To Home Button */
  .back-to-home-btn-container {
    margin-left: 2.166667rem;
  }


  /* Gallery Location Info Container */
  .gallery-location-info-container {
    height: 24.222222rem;
    padding: 4.888889rem 2.194444rem 4.444444rem 2.194444rem;
    display: flex;
    justify-content: space-between;
  }


  /* Gallery Location h1 */
  .gallery-location-header {
    width: 12.388889rem;
    padding: 0;
    font-size: 3.055556rem;
    line-height: 2.777778rem;
  }


  /* Gallery Address Container */
  .gallery-address-container {
    /* height: 14.888889rem; */
    width: 22.111111rem;
  }

  
}


/* DESKTOP */
/* More than 1024px */


@media screen and (min-width: 1025px) {


  /* Main Header */
  .main-header {
    height: 44.444444rem;
  }


  /* Hero Background */
  .desktop-hero-background {
    display: block;
    height: 44.444444rem;
    width: 31%;
    background-color: var(--almost-black);
  }


  /* Hero Image */
  .hero-img {
    height: 44.444444rem;
    width: 37.5%;
    background-image: url(../assets/desktop/image-hero@2x.jpg);
  }


  /* Main Header Copy Container */
  .main-header-copy-container {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: absolute;
    left: 0rem;
    right: 0rem;
    padding-left: 11%;
    padding-right: 11%;
  }


  /* Main Heading Container */
  .main-heading-container {
    width: 28.555556rem;
  }


  /* Main Heading */
  .main-heading {
    font-size: 5.333333rem;
    line-height: 4.888889rem;
    color: var(--white);
    mix-blend-mode: difference;
    padding-right: 3.333333rem;
  }


  /* Desktop Header Copy Container */
  .desktop-header-copy-container {
    width: 19.444444rem;
    height: 16.444444rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  /* Main Header Copy */
  .main-header-copy {
    font-size: 1.222222rem;
    line-height: 1.777778rem;
  }


}